body {
  background-image: url('../Media/Uno.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
	margin: 8px;
	font-family: Arial, sans-serif;
}
body {
    display: block;
    margin: 8px;
}

#main-nav {
    float: left;
    width: 100%;
    background-color: #167ac6;
}

#box1 {
	background-color: #1cff83;
	display: fixed;
	padding: 20px;
	border:10px ridge silver;
	width: 40%;
}

#box2 {
	background-color: #1cff83;
	display: fixed;
	padding: 20px;
	border:10px ridge silver;
	width: 40%;
}

#box3 {
	background-color: #1cff83;
	display: fixed;
	padding: 20px;
	border:10px ridge silver;
	width: 40%;
}

#box4 {
	background-color: #1cff83;
	display: fixed;
	padding: 20px;
	border:10px ridge silver;
	width: 40%;
}
.nav-container {
	display: flex;
  justify-content: center;
	unicode-bidi: isolate;
  background-color: rgba(27,127,204,.8);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.3)
}

#box5 {
	background-color: #1cff83;
	display: fixed;
	padding: 20px;
	border:10px ridge silver;
	width: 40%;
}

.navigation ul {
	  display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
	margin-right: 20px;
  background-color: #0056a6; 
}

.page-wrapper {
	width: 890px;
	margin: 0 auto;
	box-shadow: 0px 4px 8px rgba(40,67,135,1);
	border-radius: 12px 12px 0px 0px;
}

header {
  position: relative;
  margin-top: 40px;
  border-radius: 12px 12px 0px 0px; 
}

img {
	display: fixed;
	max-width: 100%;
	height: auto;
	z-index: auto;
}

.header h1 {
	position: inherit;
	left: 800px;
	top: -400px;
	font-size: 2em;
	font-family: 'Devonshire', Arial;
	color: #00ffea
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 10px;
    padding-right: 10px;
    height: 100px;
}

.header-content h1 {
    font-size: 3em;
    font-family: 'Devonshire', Arial;
    color: #add8e6;
}

h2 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

div {
	text-align: center;
}


li {
	color: black;
	font-size: 1em;
}

header a .image1 img {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

ul {
	color: black;
	font-size: 1em;
}


ul {
	padding-left:20px;
	margin: 20px 0;
	color; 567
}

h2 strong{
	font-size: 2em;
	font-weight: 800;
}

footer {
  background-color: #1b7fcc;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
}


.navigation ul li a {
  color: white;
  text-decoration: none; 
  font-size: 1.2em;
  padding: 10px 20px; 
  background-color: #1b7fcc;
  border-radius: 5px;	
  transition: background-color 0.3s ease; 
}

.content-wrapper {
	padding: 20px
  background-image: url("../Media/Orange.jpg");
	background-size: cover;
  float: left;
}

p {
	color: #ffffff;
	font-size: 2em;
	line-height: 2;
}
	
.container {
	justify-content: center;
	padding-left: 20px;
  align-items: center;
	min-height: 100vh;
}

main-nav ul li a:hover {
  background-color: #0056a6;
}

content-wrapper {
  width: 960px;
  text-align: center;
	font-family: sans-serif, "Helvetica Neue", Arial;
	font-stretch: expanded;
}

strong {
	font-weight: 0.9em;
	color: blue;
	font-weight: bold;
}
